body {
  background-image: url('https://image.freepik.com/psd-gratis/fondo-de-diseno-de-textura-blanca_1022-75.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  text-align:center;
  display:block;
  margin-top:200px;
}
.hidden {
  text-align:center;
  display:none;
}
.casilla {
  height:100px;
  width:100px;
  border-bottom:1px solid black;
  display:inline-block;
  text-align: center;
  font-size:80px;
  color:black;
  margin-left:5px;
}
#teclado {
  display:none;
}
#resto {
  display:none;
  float:left;
}
p {
  display:inline-block;
}
#myCanvas {
  display:none;
  position:relative;
  margin-left:100px;
}
